:root.theme-light {
  --decor-element: none;
  --bg-image: url('../images/cover-image-light.png');
  --bg-color: #fff1f7;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --title-shadow-color: #ff8dcb;
  --accent-color: #ff8dcb;
  --accent-text-color: #353430;
  --accent-contrast-color: #353430;
  --hover-color: rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --decor-element: none;
    --bg-image: url('../images/cover-image-light.png');
    --bg-color: #fff1f7;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --title-shadow-color: #ff8dcb;
    --accent-color: #ff8dcb;
    --accent-text-color: #353430;
    --accent-contrast-color: #353430;
    --hover-color: rgba(50, 49, 45, 0.4);
  }
}
