.page {
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--text-color);
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  min-block-size: 668px;
  block-size: 100vh;
  padding: clamp(10px, 2.6vw, 20px);
}

.decorated-zone {
  position: relative;
  color: var(--accent-text-color);
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-style: solid;
}

.decorated-zone::before {
  top: 0;
  right: 0;
  border-width: 1px 1px 0 0;
  border-color: inherit;
  margin-inline-end: clamp(10px, 2.6vw, 20px);
  margin-block-start: clamp(10px, 2.6vw, 20px);
}

.decorated-zone::after {
  bottom: 0;
  left: 0;
  border-width: 0 0 1px 1px;
  border-color: inherit;
  margin-inline-start: clamp(10px, 2.6vw, 20px);
  margin-block-end: clamp(10px, 2.6vw, 20px);
}

.header__theme-menu-decoration {
  position: absolute;
  display: var(--decor-element);
  align-items: center;
  justify-self: end;
  text-transform: uppercase;
  block-size: 26px;
  margin-inline-end: clamp(19px, 2.55vw + 10.5px, 29px);
  margin-block-start: clamp(10px, 2.6vw, 20px);
}

/* Настройка точки после надписи REC */

.header__theme-menu-decoration::after {
  content: '';
  margin-inline-start: 10px;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px 3px var(--accent-color);
  -moz-box-shadow: 0 0 5px 3px var(--accent-color);
  box-shadow: 0 0 5px 3px var(--accent-color);
}

.header__theme-menu {
  color: inherit;
  justify-self: end;
  margin-block-start: clamp(65px, calc(65px + (172 - 65) * (100vh - 668px) / (1024 - 668)), 172px);
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  inline-size: 70px;
  background-color: transparent;
  text-transform: lowercase;
  border: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--accent-text-color);
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.header__title {
  color: var(--title-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 6rem;
  text-shadow: 4px 4px 0 var(--accent-color);
  max-block-size: 192px;
}

.header__description {
  font-weight: bold;
  align-self: baseline;
  max-inline-size: clamp(355px, 355px + (364 - 355) * (100vw - 375px) / (768 - 375), 364px);
  line-height: 1.3em;
  align-self: center;
  justify-self: end;
}

.title-decor {
  color: var(--accent-contrast-color);
  background-color: var(--accent-color);
}

.main {
  display: grid;
  gap: clamp(50px, 7.3vw + 22.6px, 80px);
  padding: clamp(40px, 8vw, 60px) clamp(10px, 2.6vw, 20px);
  background-color: var(--bg-color);
}

.section {
  display: grid;
  gap: 20px;
  align-items: start;
}

.section__cards {
  gap: clamp(10px, 2.5vw + 1px, 20px);
}

.section__title {
  font-size: inherit;
}

.section__title-main {
  color: var(--accent-text-color);
}

.section__title_additional {
  font-weight: initial;
}

.section__description {
  line-height: 1.3em;
}

.section__description-link {
  text-shadow: 1px 1px 0 var(--accent-color);
  text-decoration: none;
}

.section__description-link:hover {
  text-decoration: underline;
}

.section__description-link:focus {
  outline: 1px solid currentColor;
}

.article {
  display: grid;
  gap: 10px;
}

.cards__list {
  display: grid;
  gap: clamp(5px, 3.8vw + 0.5px, 20px);
}

.cards__list__image {
  inline-size: 100%;
  min-block-size: 100%;
  object-fit: cover;
}

.footer {
  display: grid;
  background-color: var(--bg-color);
  min-block-size: 668px;
  block-size: 100vh;
  padding: clamp(10px, 2.6vw, 20px);
  align-items: center;
  justify-items: center;
}

.footer__title {
  color: var(--title-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header__title {
    max-block-size: 130px;
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .section {
    grid-template-columns: clamp(236px, 236px + 79 * (100vw - 768px) / 256, 315px) 1fr;
  }

  .section__title-main {
    grid-row: span 2;
  }

  .section__cards {
    grid-template-columns: 1fr;
  }

  .article__why {
    grid-column: 2 / auto;
  }

  .article__what {
    grid-column: span 2;
  }

  .article__how {
    grid-column: 2 / auto;
  }

  .cards__list {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
  }

  .cards__list__item:nth-child(1) {
    grid-column: span 2;
    grid-row: 1;
  }
  
  .cards__list__item:nth-child(2) {
    grid-column: 3;
    grid-row: span 2;
  }

  .cards__list__item:nth-child(3) {
    grid-row: span 2;
    grid-column: 1;
  }

  .cards__list__item:nth-child(4) {
    grid-row: 2;
    grid-column: 2;
  }

  .cards__list__item:nth-child(5) {
    grid-row: 3;
    grid-column: 2/4;

  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    margin-block-start: 0;
    justify-self: center;
  }

  .header__theme-menu-list {
    display: flex;
  }

  .header__title {
    padding-block-start: 0;
  }

  .header__description {
    max-inline-size: clamp(364px, 364px + (491 - 364) * (100vw - 768px) / (1024 - 768), 491px);
    margin-block-start: 17px;
  }

  .section__what {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .section__what .section__title-main {
    grid-row: initial;
  }

  .article__what {
    grid-column: initial;
    grid-row: 2;
  }
}