.page {
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: var(--text-color);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-block-size: 668px;
  block-size: 100vh;
  padding: var(--side-padding);
  position: relative;
}

.decorated-zone {
  position: relative;
  color: var(--accent-text-color);
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-style: solid;
}

.decorated-zone::before {
  top: var(--decor-borders);
  right: var(--decor-borders);
  border-width: 1px 1px 0 0;
  border-color: inherit;
}

.decorated-zone::after {
  bottom: var(--decor-borders);
  left: var(--decor-borders);
  border-width: 0 0 1px 1px;
  border-color: inherit;
}

.header__theme-menu-decoration {
  position: absolute;
  right: 19px;
  top: 10px;
  display: var(--decor-element);
  align-items: center;
  text-transform: uppercase;
  block-size: 26px;
}

/* Настройка точки после надписи REC */

.header__theme-menu-decoration::after {
  content: '';
  margin-inline-start: 10px;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  -webkit-box-shadow: 0 0 4px 2px var(--accent-color);
  -moz-box-shadow: 0 0 4px 2px var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  color: inherit;
  justify-self: end;
  margin-block-start: var(--menu-margin);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  inline-size: 70px;
  background-color: transparent;
  text-transform: lowercase;
  border: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-text-color);
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.header__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  text-shadow: 4px 4px 0 var(--accent-color);
  max-block-size: 192px;
}

.header__description {
  font-weight: bold;
  max-inline-size: var(--description-inline-size);
  align-self: center;
  justify-self: end;
  margin-block-end: 11px;
}

.title-decor {
  color: var(--accent-contrast-color);
  background-color: var(--accent-color);
}

.main {
  display: grid;
  gap: var(--content-gap);
  padding: var(--main-padding);
}

.section {
  display: grid;
  align-items: baseline;
  gap: 19.8px;
  padding: var(--side-padding);
}

.section__cards {
  gap: 10px;
}

.section__title {
  font-size: inherit;
  color: var(--accent-text-color);
}

.article__title {
  font-size: inherit;
}

.article__title_additional {
  font-weight: initial;
}

.article__description-link {
  text-shadow: 1px 1px 0 var(--accent-color);
  text-decoration: none;
}

.article__description-link:hover {
  text-decoration: none;
  border-bottom: 1px solid var(--accent-text-color);
}

.article__description-link:focus {
  outline: hidden;
}

.article__description-link:focus-visible {
  outline: 1px solid currentColor;
}

.article {
  display: grid;
  gap: 10px;
}

.article__list {
    display: grid;
    gap: 19.8px;
  }

.cards__list {
  display: grid;
  gap: var(--card-gap);
}

.cards__list__item {
  inline-size: 100%;
}

.cards__list__image {
  display: block;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: grid;
  min-block-size: 668px;
  block-size: 100vh;
  align-items: center;
  justify-items: center;
  padding: var(--footer-padding);
}

.footer__title {
  color: var(--title-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header__theme-menu-decoration {
    right: 29px;
    top: 20px;
  }

  .header__title {
    max-block-size: 130px;
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    max-inline-size: clamp(
      364px,
      364px + (491 - 364) * (100vw - 768px) / (1024 - 768),
      491px
    );
    margin-block-end: 20px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .section {
    grid-template-columns: 1fr 2fr;
  }

  .grid__style {
    grid-column: 1 / 3;
  }

  .section__cards {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .cards__list__image {
    block-size: 100%;
  }

  .cards__list__item:nth-child(1) {
    grid-column: span 2;
    grid-row: 1;
  }

  .cards__list__item:nth-child(2) {
    grid-column: 3;
    grid-row: span 2;
  }

  .cards__list__item:nth-child(3) {
    grid-row: span 2;
    grid-column: 1;
  }

  .cards__list__item:nth-child(4) {
    grid-row: 2;
    grid-column: 2;
  }

  .cards__list__item:nth-child(5) {
    grid-row: 3;
    grid-column: 2/4;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
  }

  .header__title {
    padding-block-start: 0;
  }

  .section {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .section__cards {
    grid-template-columns: 1fr;
  }

  .article__list {
    grid-column: 2/4;
  }

  .grid__style {
    grid-column: 1/4;
    grid-template-columns: repeat(3, 1fr);
  }
}
