:root {
  /* Декоративные элементы */

  --decor-element: flex;
  --bg-image: url('../images/cover-image-dark.png');

  /* Цвета */

  --bg-color: #000028;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --accent-text-color: #ff0070;
  --accent-contrast-color: #000028;
  --hover-color: rgba(255, 0, 112, 0.4);

  /* Размеры */

  --main-padding: 40px 0;
  --side-padding: 0 10px;
  --footer-padding: 10px;
  --menu-margin: 75px;
  --decor-borders: 10px;
  --description-inline-size: 355px;
  --content-gap: 50px;
  --article-gap: 5px;
  --card-gap: 10px;
}

@media (width >= 768px) {
  :root {
    --menu-margin: 192px;
    --content-gap: 80px;
    --article-gap: 10px;
    --card-gap: 20.8px;
    --decor-borders: 20px;
    --main-padding: 60px 0;
    --side-padding: 0 20px;
    --footer-padding: 20px;
  }
}

@media (width >= 1024px) {
  :root {
    --menu-margin: 20px;
  }
}
